name: Build Nextcloud Latest FPM Alpine

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-latest-fpm-alpine:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push latest fpm-alpine
        uses: docker/build-push-action@v6
        with:
          context: 33/fpm-alpine
          file: 33/fpm-alpine/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/nextcloud:fpm-alpine
            ghcr.io/${{ github.repository_owner }}/nextcloud:33-fpm-alpine
