name: Sync Upstream

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: nextcloud/docker
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Sync
        run: |
          git remote add fork https://github.com/${{ github.repository }}.git
          git push fork HEAD:master --force
